<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648392820231-4jvi6a7f63asp8alrok99ffsr3i9c4mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648392820231-4jvi6a7f63asp8alrok99ffsr3i9c4mg</string>
	<key>API_KEY</key>
	<string>AIzaSyCzCFIlQn3Hkh9gGogL0j8gYqM2H4dc_JE</string>
	<key>GCM_SENDER_ID</key>
	<string>648392820231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-383814</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-383814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648392820231:ios:8aefa13c30853fc0e04ca2</string>
</dict>
</plist>